/*declarações*/
@font-face { 
    font-family: "Samurai Blast";
    src: url(custom_fonts/SamuraiBlast.woff); 
}

/*estruturas basicas*/
.body{
    font-family:'Times New Roman', Times, serif;
}
.container{
    font-size: 48px;
    text-align: center;

    width: 100%;
    padding-top: 20px;
    
    border-radius: 5px;
    overflow: hidden;
}
.main-container{
    background-color: #b9b9b9;

    display: flex;
    justify-content: space-around;
    margin: 10px;
    border-radius: 5px;
    height: 785px;
}
.sub-container{
    background-color: #f4f4f4;

    text-align: center;
    align-self: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    height: 98%;
    
    overflow: auto;
    white-space: nowrap;
}
.flex-container{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
.header{
    padding-top: 50px;
    font-size: 40px;
}
.subcol{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    width: 50%;
}

/*botões e clicaveis*/
.image-button{
    width: 450px;
    height: 450px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 100%;
    text-align: center;
    border: none;
}

/*imagens e recursos*/
.image{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}