/*declarações*/
@font-face { 
    font-family: "Samurai Blast";
    src: url(custom_fonts/SamuraiBlast.woff); 
}

/*estruturas basicas*/
.body{
    font-family:'Times New Roman', Times, serif;
}
.container{
    font-size: 48px;
    text-align: center;

    width: 100%;
    padding-top: 20px;
    
    border-radius: 5px;
    overflow: hidden;
}
.main-container{
    background-color: #b9b9b9;

    display: flex;
    justify-content: space-around;
    margin: 10px;
    border-radius: 5px;
    height: 785px;
}
.sub-container{
    background-color: #f4f4f4;

    text-align: center;
    align-self: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    height: 98%;
    
    overflow: auto;
    white-space: nowrap;
}
.flex-container{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
.pop-container{
    font-size: 48px;

    border-radius: 10px;

    width: 80%;
    height: 850px;
    margin: 50px;
}
.text-container{
    border-radius: 5px;
    border-style: solid;
    border-color: #b9b9b9;
    background-color: white;

    text-align: left;
    text-wrap: wrap;
}
.header{
    padding-top: 50px;
    font-size: 40px;
}
.subcol{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    width: 50%;
}

/*elementos*/
.input{
    text-align: left;
    text-indent: 20px;
    font-size: 24px;

    border-radius: 7px;
    min-width: 270px;
    width: 50%;
    height: 75px;
    
    border-color: lightgray;
}

/*texto e fontes*/
.element-title{
    font-size: 56px;
    font-weight: 600;
}

/*botões e clicaveis*/
.pop-btn{
    border-radius: 10px;
    margin: 10px;
    width: 35%;
}
.av-btn{
    border-radius: 10px;
    margin: 10px;
}
.image-button{
    background-color: black;
    justify-content: center;
    align-items: center;

    width: 450px;
    height: 450px;

    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 100%;
    
    border: none;
    overflow: hidden;
}

/*imagens e recursos*/
.image{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}